<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>TrangChuKhachHangServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KhachHangServlet</servlet-name>
    <servlet-class>controller.KhachHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>controller.GioHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HoaDonDatHangServlet</servlet-name>
    <servlet-class>controller.HoaDonDatHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuanLyDanhMucServlet</servlet-name>
    <servlet-class>controller.QuanLyDanhMucServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrangChuKhachHangServlet</servlet-name>
    <servlet-class>controller.TrangChuKhachHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChinhSuaThongTinKhachHangServlet</servlet-name>
    <servlet-class>controller.ChinhSuaThongTinKhachHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NhapHangServlet</servlet-name>
    <servlet-class>controller.NhapHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaoPhieuNhapServlet</servlet-name>
    <servlet-class>controller.TaoPhieuNhapServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaoChiTietPhieuNhapSevlet</servlet-name>
    <servlet-class>controller.TaoChiTietPhieuNhapSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DuyetDonHangServlet</servlet-name>
    <servlet-class>controller.DuyetDonHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SanPhamServlet</servlet-name>
    <servlet-class>controller.SanPhamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DanhMucSanPhamServlet</servlet-name>
    <servlet-class>controller.DanhMucSanPhamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapNhatTrangThaiDonHangServlet</servlet-name>
    <servlet-class>controller.CapNhatTrangThaiDonHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuanLyTatCaDonHangServlet</servlet-name>
    <servlet-class>controller.QuanLyTatCaDonHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangNhapAdminServlet</servlet-name>
    <servlet-class>controller.DangNhapAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrangChuAdminServlet</servlet-name>
    <servlet-class>controller.TrangChuAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangXuatAdminServlet</servlet-name>
    <servlet-class>controller.DangXuatAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangNhapNhanVienKhoServlet</servlet-name>
    <servlet-class>controller.DangNhapNhanVienKhoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrangChuNhanVienKhoServlet</servlet-name>
    <servlet-class>controller.TrangChuNhanVienKhoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangXuatNhanVienKhoServlet</servlet-name>
    <servlet-class>controller.DangXuatNhanVienKhoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XoaSanPhamServlet</servlet-name>
    <servlet-class>controller.XoaSanPhamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThemSanPhamServlet</servlet-name>
    <servlet-class>controller.ThemSanPhamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuaSanPhamServlet</servlet-name>
    <servlet-class>controller.SuaSanPhamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangNhapNhanVienGiaoHangServlet</servlet-name>
    <servlet-class>controller.DangNhapNhanVienGiaoHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrangChuNhanVienGiaoHangServlet</servlet-name>
    <servlet-class>controller.TrangChuNhanVienGiaoHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NhanVienGiaoHangXemHoaDonServlet</servlet-name>
    <servlet-class>controller.NhanVienGiaoHangXemHoaDonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DangXuatNhanVienGiaoHangServlet</servlet-name>
    <servlet-class>controller.DangXuatNhanVienGiaoHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XemKhachHangServlet</servlet-name>
    <servlet-class>controller.XemKhachHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XemNhanVienGiaoHangServlet</servlet-name>
    <servlet-class>controller.XemNhanVienGiaoHangServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapNhatDanhMucServlet</servlet-name>
    <servlet-class>controller.CapNhatDanhMucServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XemNhanVienKhoServlet</servlet-name>
    <servlet-class>controller.XemNhanVienKhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatDanhMucServlet</servlet-name>
    <url-pattern>/CapNhatDanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XemNhanVienGiaoHangServlet</servlet-name>
    <url-pattern>/XemNhanVienGiaoHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XemNhanVienKhoServlet</servlet-name>
    <url-pattern>/XemNhanVienKhoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XemKhachHangServlet</servlet-name>
    <url-pattern>/XemKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangXuatNhanVienGiaoHangServlet</servlet-name>
    <url-pattern>/DangXuatNhanVienGiaoHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NhanVienGiaoHangXemHoaDonServlet</servlet-name>
    <url-pattern>/NhanVienGiaoHangXemHoaDonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrangChuNhanVienGiaoHangServlet</servlet-name>
    <url-pattern>/TrangChuNhanVienGiaoHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangNhapNhanVienGiaoHangServlet</servlet-name>
    <url-pattern>/DangNhapNhanVienGiaoHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuaSanPhamServlet</servlet-name>
    <url-pattern>/SuaSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThemSanPhamServlet</servlet-name>
    <url-pattern>/ThemSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XoaSanPhamServlet</servlet-name>
    <url-pattern>/XoaSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangXuatNhanVienKhoServlet</servlet-name>
    <url-pattern>/DangXuatNhanVienKhoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrangChuNhanVienKhoServlet</servlet-name>
    <url-pattern>/TrangChuNhanVienKhoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangNhapNhanVienKhoServlet</servlet-name>
    <url-pattern>/DangNhapNhanVienKhoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangXuatAdminServlet</servlet-name>
    <url-pattern>/DangXuatAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrangChuAdminServlet</servlet-name>
    <url-pattern>/TrangChuAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DangNhapAdminServlet</servlet-name>
    <url-pattern>/DangNhapAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuanLyTatCaDonHangServlet</servlet-name>
    <url-pattern>/QuanLyTatCaDonHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapNhatTrangThaiDonHangServlet</servlet-name>
    <url-pattern>/CapNhatTrangThaiDonHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DanhMucSanPhamServlet</servlet-name>
    <url-pattern>/DanhMucSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SanPhamServlet</servlet-name>
    <url-pattern>/SanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DuyetDonHangServlet</servlet-name>
    <url-pattern>/DuyetDonHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KhachHangServlet</servlet-name>
    <url-pattern>/KhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/GioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoaDonDatHangServlet</servlet-name>
    <url-pattern>/HoaDonDatHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuanLyDanhMucServlet</servlet-name>
    <url-pattern>/QuanLyDanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrangChuKhachHangServlet</servlet-name>
    <url-pattern>/TrangChuKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChinhSuaThongTinKhachHangServlet</servlet-name>
    <url-pattern>/ChinhSuaThongTinKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NhapHangServlet</servlet-name>
    <url-pattern>/NhapHangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaoPhieuNhapServlet</servlet-name>
    <url-pattern>/TaoPhieuNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaoChiTietPhieuNhapSevlet</servlet-name>
    <url-pattern>/TaoChiTietPhieuNhapSevlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>